page-home {
    .ion-title{
        text-align: center;
    }

    .card{
        text-align: center;
    }

    .dd-time{
        font-size: 28px;
        font-weight: bold;
    }

    .modify{
        padding:0px;
        margin: 0px;
    }
    .info{
        text-align:left;
    }

    .space{
        margin-bottom: 20px;
    }
    .mycard{
        height:320px;
        overflow:scroll;
    }

    .mycontent{
        overflow:hidden;
    }
    .body{
        overflow:visible;
    }
}
